.tb-font {
    font-family: iconfont !important;
    font-size: 14px;
    font-style: normal;
    display: inline-block;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: iconfont;
    src: url(../font/tb-font.woff2) format('woff2'), url(../font/tb-font.woff) format('truetype');
}