@import url("font.css");
@import url("media.min.css");
$color01: #eee;
$bg01: #FFFFFF;
$bg02: #F7F9FA;
$fontColor: #ff5000;
$fontColor01: #414141;
$fontColor02: #868686;



.console {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 40px;
    background-color: rgba(255, 255, 255, .8);
}

body {
    .animated {
        transition: all .23s ease;
    }

    .animated_fade_up {
        animation-name: fade_up;
        animation-duration: .3s;
        
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }


    a.common-link {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

    a {
        &:hover {
            color: $fontColor;
        }
    }

    .clear::before,
    .clear::after {
        content: "";
        display: table;
    }

    @mixin none_border {
        outline: none;
        border: none;
    }

    @mixin solid($w: 1px, $color: $fontColor) {
        border: $w solid $color;
    }

    @mixin radius($r: 18px) {
        border-radius: $r;
    }

    @mixin border() {
        border: 1px solid $color01
    }

    @mixin border0() {
        border: 1px solid transparent;
    }

    @mixin padding0($top, $bottom, $left, $right) {
        padding: $top $right $bottom $left;
        box-sizing: border-box;
    }

    padding: 0;
    margin: 0;
    position: relative;
    background-color: rgb(216, 216, 216);
    font-size: 14px;
    color: #3C3C3C;
    overflow-y: auto;
    overflow-x: hidden;

    .tb-toolkit {
        position: fixed;
        width: 60px;
        min-height: 374px;
        background-color: white;
        bottom: 50%;
        right: 0;
        z-index: 999;
        transform: translateY(50%);
        border-radius: 18px 0 0 18px;

        .tb-toolkit-button {
            cursor: pointer;
            width: 60px;
            font-size: 12px;
            margin-top: 36px;
            text-align: center;
            height: 56px;

            &:last-child {
                display: none;
            }

            img {
                width: 24px;
                height: 22px;
            }

            span {
                display: block;
                width: 100%;

            }
        }
    }

    .taobao-app {
        position: relative;
        width: 100%;

        .tb-banner {
            min-height: 0;
            width: 1190px;
            margin: 0 auto;
        }

        //  头部信息
        .tb-header {
            position: relative;
            z-index: 999;

            .tb-head-button {
                border: none;
                display: block;
                width: 100%;
                height: 100%;
                position: relative;
                font-size: 14px;
                text-align: left;
                @include border0();

                &:hover {
                    background-color: white;
                    @include border;
                }

                &.active {
                    background-color: rgb(255, 255, 255);
                    @include border;
                    border-bottom-color: transparent;
                }

                &::after {
                    content: "∨";
                    position: absolute;
                    right: 4px;
                }
            }

            width: 100%;
            position: relative;
            background-color: #f5f5f5;
            height: 36px;

            & .tb-hader-wrapper {
                width: 1188px;
                height: inherit;
                position: inherit;
                margin: 0 auto;
                display: flex;
                justify-content: start;
                font-size: 12px;

                .h-menu {
                    margin-right: 10px;
                    width: 87px;
                    height: 35px;
                    background-color: transparent;

                    .tb-head-ul {
                        display: none;
                    }
                }

                #menu-login {
                    width: 112px;
                }

                #menu-world {
                    .tb-head-ul {
                        background-color: white;
                        margin: 0;
                        position: relative;
                        @include padding0(8px, 8px, 0, 0);

                        li {
                            box-sizing: border-box;
                            padding-left: 8px;
                            display: block;
                            width: 100%;
                            height: 29px;
                            list-style: none;
                            line-height: 28px;
                            font-size: 14px;
                            cursor: pointer;

                            &:hover {
                                background-color: #eee;
                            }
                        }
                    }
                }
            }
        }

        // 搜索
        #tb-search-container {
            height: 121px;
            width: 1190px;
            @include padding0(16px, 16px, 54px, 55px);
            margin: 0 auto;

            .mid-search {
                width: 734px;
                float: left;
                height: 100%;
                margin-left: 12px;

                .search-hot {
                    font-size: 12px;
                    color: #666;

                    a {
                        margin-right: 8px;
                        text-decoration: none;
                    }

                    @include padding0(10px, 10px, 18px, 8px)
                }

                .tb-input {
                    width: 100%;
                    margin-top: 22px;
                    height: 38px;
                    @include radius(20px);
                    @include solid(2px);
                    background-color: rgb(255, 255, 255);

                    #search {
                        @include none_border;
                        height: 80%;
                        color: $fontColor01;
                        box-sizing: border-box;
                        width: 79%;
                    }

                    .pip {
                        color: $color01;
                    }

                    .store-select {
                        font-size: 15px;
                        margin-left: 13px;
                        width: 50px;
                        height: 34px;
                        @include none_border;
                        overflow: hidden;
                        border-radius: 20px 0 0 0;

                        option {
                            @include none_border;
                        }
                    }

                    #btn-search {
                        cursor: pointer;
                        @include none_border;
                        width: 72px;
                        @include radius(20px);
                        height: 34px;
                        color: white;
                        font-size: 17px;
                        margin-top: ((40px - 34px) / 2.5);
                        background-image: linear-gradient(145deg, #ff9000, #ff5000 77%);
                    }
                }
            }

            .tb-logo {
                float: left;
                width: 190px;
                height: 59px;
                margin-top: 18px;

                img {
                    height: 100%;
                }
            }
        }

        .tb-main-body {
            .bottom-tips{
                width: 100%;
                height: fit-content;
                text-align: center;
            }
            .i-font {
                height: 16px;
                display: block;
                width: 16px;
            }

            @include radius;
            height: auto;
            max-width: 1190px;
            min-width: 800px;
            margin: 1px auto;
            @include padding0(24px, 24px, 24px, 24px);
            background-color: white;

            .tb-lead-left {
                width: 270px;
                height: 406px;
                position: relative;
                background-color: $bg02;
                @include radius;
                float: left;
                @include padding0(20px, 20px, 18px, 0px);

                .tb-head-left-title {
                    font-size: 18px;
                    margin-left: 2px;
                    font-family: "宋体";
                    font-weight: 600;
                }

                .tb-head-left-list {
                    padding: 0;
                    margin-top: 16px;

                    .link-classification {
                        margin-bottom: 18px;
                        display: flex;
                        justify-content: start;
                        align-items: center;
                        list-style: none;

                        &:hover {
                            color: $fontColor;
                        }

                        height: 20px;

                        .link-classification-a {
                            font-size: 13.7px;
                            font-family: "宋体";
                        }

                        .pip {
                            margin-left: 8px;
                            margin-right: 8px;
                        }

                        &:hover .i-font {
                            color: $fontColor;
                        }

                        .i-font {
                            font-size: 16px;
                            color: rgb(88, 88, 88);
                            margin-right: 15px;
                            margin-left: 2px;
                        }
                    }
                }

            }

            .tb-head-right {
                position: relative;
                height: 406px;
                float: right;
                width: (1138px - 280px);
                background-color: #ffffff;

                .tb-pinpai {
                    @include radius(12px);
                    width: 856px;
                    height: 42px;
                    background-color: $bg02;
                    @include padding0(11px, 10px, 14px, 12px);
                    margin-bottom: 10px;

                    .pip {
                        display: block;
                        width: 2px;
                        height: 80%;
                        float: left;
                        position: relative;
                        top: 17%;
                        background-color: #e0e0e0;
                    }

                    .link-pinpai {
                        font-size: 16px;
                        display: block;
                        @include padding0(0, 0, 23px, 23px);
                        float: left;
                        text-align: center;
                        text-decoration: none;
                    }
                }
            }

            #tb-slider {
                width: 564px;
                height: 315px;
                position: relative;
                border-radius: 12px;
                float: left;

                #tb-slide-prev,
                #tb-slide-next {
                    background-color: rgba(0, 0, 0, .3);
                    background-image: none;
                    width: 20px;
                    height: 30px;
                    text-align: center;
                    font-size: 13px;
                }

                #tb-slide-prev {
                    border-radius: 0 20px 20px 0;
                }

                #tb-slide-next {
                    border-radius: 20px 0 0 20px;
                }

                img {
                    width: 100%;
                    height: 100%;
                }

                .pagehelper {
                    background-color: rgba(255, 255, 255, .3);
                    bottom: 15px;
                    left: 50%;
                    box-sizing: border-box;
                    width: 70px;
                    height: 13px;
                    border-radius: 13px;
                    padding-top: 1.6px;
                    margin-left: -39px;

                    .pagination-items {
                        top: 0;
                        width: 8px;
                        display: block;
                        height: 8px;
                        float: left;
                        margin-left: 4%;
                        margin-right: 4%;
                    }
                }
            }

            .user-info {
                width: 268px;
                height: 318px;
                margin-left: 24px;
                float: left;

                #tb-role-list {
                    @include padding0(0, 0, 6px, 6px);
                    margin-top: 40px;
                    font-size: 12px;
                    height: 18px;
                    @include none_border;

                    .tb-role {
                        writing-mode: nowrap;
                        text-align: left;

                        .tb-role-type {
                            background-color: #ffefef;
                            color: #FF5000;
                            display: inline;
                            width: 50px;
                            height: 18px;
                        }
                    }

                }

                .mt-tao {
                    width: 100%;
                    height: 48px;
                    margin-top: 26px;

                    .mt-tao-item {
                        &:last-child {
                            margin-right: 0;
                        }

                        a {
                            font-size: 12px;
                            text-align: center;
                            color: $fontColor01;
                            text-decoration: none;

                            &:hover {
                                color: #ff5000;
                            }

                            span {
                                width: 100%;
                                display: block;
                                text-align: center;
                                font-size: 26px;
                            }

                            p {
                                margin-top: 8px;
                            }
                        }

                        width: 48px;
                        margin-left: 6px;
                        margin-right: 12px;
                    }
                }

                .user-cart {
                    margin-top: 12px;
                    width: 100%;
                    display: flex;

                    .cart-item {
                        height: 56px;
                        width: 25%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;

                        .cart-num {
                            text-align: center;
                            color: $fontColor;
                            font-weight: 600;
                            width: 100%;
                        }

                        span {
                            font-size: 12px;
                        }
                    }
                }

                #user-buy-info {
                    margin-top: 7px;
                    margin-left: 6px;
                    width: 262px;
                    border: none;
                    @include radius(6px);
                    background-color: $bg02;
                    height: 48px;

                    .swiper-items {
                        a.buy-info {
                            text-decoration: none;
                            color: $fontColor01;
                            display: flex;
                            align-items: center;
                        }

                        .buy-more {
                            display: flex;
                            flex-direction: column;
                            margin-left: 10px;

                            span {
                                text-align: left;
                            }

                            span.buy-status {
                                font-size: 13px;
                            }

                            span.buy-status-logistics {
                                color: $fontColor02;
                                font-size: 12px;
                                width: 204px;
                                height: 14px;
                                overflow: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                            }
                        }

                        .img_buy {
                            width: 48px;
                            height: 48px;
                            @include radius(6px);
                        }
                    }
                }

                .user-account {
                    width: 100%;
                    @include padding0(2px, 2px, 8px, 8px);
                    height: 50px;
                    margin-top: 14px;
                    overflow: hidden;

                    #user-avg {
                        @include radius(22.5px);
                        width: 45px;
                        height: 45px;
                        overflow: hidden;
                        position: relative;
                        float: left;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .id-user-account {
                        float: left;
                        height: 100%;
                        margin-left: 17px;

                        p {
                            margin: 2px;
                            font-size: 16px;
                        }

                        p.tb-name {
                            font-weight: 800;
                        }
                    }
                }

            }

            .guess-item-container {
                width: 100%;
                height: auto;
                min-height: 60px;

            }
        }

        .body-first {
            overflow: hidden;
        }

        // 下面部分
        .guess-item-container {
            position: relative;

            .guess-title {
                padding-left: 2px;
                margin-top: 20px;
                font-size: 24px;
                color: black;
                line-height: 24px;

                img {
                    width: 64px;
                    height: 20px;
                    vertical-align: middle;
                }
            }

            #more-item-list {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap;
                margin-top: 30px;
                
                .more-item {
                    @include padding0(0, 0, 4px, 0);
                    overflow: hidden;
                    @extend .animated;
                    transform: scale(.4);
                    animation-delay: var(--delay);
                    opacity: 0;
                    .more-item-detail {
                        float: right;
                        height: 100%;
                        width: 202px;
                        padding-top: 6px;
                        box-sizing: border-box;

                        .more-item-name {

                            img {
                                max-height: 16px;
                                object-fit: contain;
                                vertical-align: middle;
                            }

                            text-align: left;
                            font-size: 16px;
                            line-height: 24px;
                            color:$fontColor01;
                        }
                    }

                    .more-item-image {
                        width: 150px;
                        height: 150px;
                        @include radius(12px);
                        overflow: hidden;
                        float: left;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    position: relative;
                    width: 372px;
                    height: 174px;
                    overflow: hidden;
                    @include border;
                    margin-bottom: 18px;
                }
            }

        }

    }
}