$color01: #eee;
$bg01: #FFFFFF;
$bg02: #F7F9FA;

.cankao {
    position: absolute;
    top: 0;
    opacity: .5;
    z-index: 2;
    user-select: none;
    pointer-events: none;
}

.console {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 80px;
    background-color: rgba(255, 255, 255, .8);
}

body {

    .clear::before,
    .clear::after {
        content: "";
        display: table;
    }

    @mixin radius($r: 18px) {
        border-radius: $r;
    }

    @mixin border() {
        border: 1px solid $color01
    }

    @mixin border0() {
        border: 1px solid transparent;
    }

    @mixin padding0($top, $bottom, $left, $right) {
        padding: $top $right $bottom $left;
        box-sizing: border-box;
    }

    padding: 0;
    margin: 0;
    position: relative;
    background-color: rgb(216, 216, 216);
    font-size: 14px;
    color: #3C3C3C;
    overflow-y: auto;
    overflow-x: hidden;

    .taobao-app {
        position: relative;
        width: 100%;

        .tb-banner {
            min-height: 98px;
            width: 1190px;
            margin: 0 auto;
        }

        //  头部信息
        .tb-header {
            .tb-head-button {
                border: none;
                display: block;
                width: 100%;
                height: 100%;
                position: relative;
                font-size: 14px;
                text-align: left;
                @include border0();

                &:hover {
                    background-color: white;
                    @include border();
                }

                &.active {
                    background-color: rgb(255, 255, 255);
                    @include border();
                    border-bottom-color: transparent;
                }

                &::after {
                    content: "∨";
                    position: absolute;
                    right: 4px;
                }
            }

            width: 100%;
            position: relative;
            background-color: #f5f5f5;
            height: 36px;

            & .tb-hader-wrapper {
                width: 1188px;
                height: inherit;
                position: inherit;
                margin: 0 auto;
                display: flex;
                justify-content: start;

                .h-menu {
                    margin-right: 10px;
                    width: 87px;
                    height: 35px;
                    background-color: transparent;

                    .tb-head-ul {
                        display: none;
                    }
                }

                #menu-login {
                    width: 112px;
                }

                #menu-world {
                    .tb-head-ul {
                        background-color: white;
                        margin: 0;
                        position: relative;
                        padding: 8px 0 8px 0;
                        box-sizing: border-box;

                        li {
                            box-sizing: border-box;
                            padding-left: 8px;
                            display: block;
                            width: 100%;
                            height: 29px;
                            list-style: none;
                            line-height: 28px;
                            font-size: 14px;
                            cursor: pointer;

                            &:hover {
                                background-color: #eee;
                            }
                        }
                    }
                }
            }
        }

        // 搜索
        #tb-search-container {
            height: 121px;
            width: 1190px;
            @include padding0(16px, 16px, 54px, 55px);
            margin: 0 auto;

            .tb-logo {
                width: 190px;
                height: 59px;
                margin-top: 18px;
                
                img {
                    height: 100%;
                }
            }
        }

        .tb-main-body {

            @include radius;
            height: 1200px;
            max-width: 1190px;
            margin: 1px auto;
            @include padding0(24px, 0px, 24px, 24px);
            background-color: white;

            .tb-lead-left {
                width: 270px;
                height: 406px;
                position: relative;
                background-color: $bg02;
                @include radius;
                float: left;
            }

            .tb-head-right {
                position: relative;
                height: 406px;
                float: right;
                width: (1138px - 280px);
                background-color: #ffffff;

                .tb-pinpai {
                    @include radius(12px);
                    width: 856px;
                    height: 42px;
                    background-color: $bg02;
                    @include padding0(11px, 10px, 14px, 12px);
                    margin-bottom: 10px;
                    .pip{
                        display: block;
                        width: 2px;
                        height: 80%;
                        float: left;
                        position: relative;
                        top:17%;
                        background-color: #e0e0e0;
                    }
                    
                    .link-pinpai {
                        // font-family: “;
                        font-size: 16px;
                        display: block;
                        @include padding0(0, 0, 23px,23px);
                        float: left;
                        text-align: center;
                        text-decoration: none;
                    }
                }
            }


            #tb-slider {
                width: 564px;
                height: 315px;
                position: relative;
                border-radius: 12px;

                #tb-slide-prev,
                #tb-slide-next {
                    background-color: rgba(0, 0, 0, .3);
                    background-image: none;
                    width: 20px;
                    height: 30px;
                    text-align: center;
                    font-size: 13px;
                }

                #tb-slide-prev {
                    border-radius: 0 20px 20px 0;
                }

                #tb-slide-next {
                    border-radius: 20px 0 0 20px;
                }

                img {
                    width: 100%;
                    height: 100%;
                }

                .pagehelper {
                    background-color: rgba(255, 255, 255, .3);
                    bottom: 15px;
                    left: 50%;
                    box-sizing: border-box;
                    width: 70px;
                    height: 13px;
                    border-radius: 13px;
                    padding-top: 1.6px;
                    margin-left: -39px;

                    .pagination-items {
                        top: 0;
                        width: 8px;
                        display: block;
                        height: 8px;
                        float: left;
                        margin-left: 4%;
                        margin-right: 4%;
                    }
                }
            }
        }

        // 主题 轮播部分

    }
}